.body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
  text-align: center;
}

.quantity{
  padding: 1.5px 0px;
  margin: 0px 315px;
  background-color: antiquewhite;
  border-style: ridge;
}

.quantity_input{
  width: 50px;
  text-align: center;
}

.quantity_plus, .quantity_minus{
  padding: 3px;
  margin: 10px;
  border-radius: 15%;
}

.quantity_plus:hover{background-color: grey;}
.quantity_minus:hover{background-color: grey;}

.quantity_input{
  border-radius: 5%;
}